.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid red;
  padding: 10px;
}

.header{
  padding: 10px;
}

footer {
  font-size: 10px;
  color: darkblue;
}

body {
  padding: 10px;
}